openai==0.28.1
numpy 
pandas
openpyxl 
scipy 
sympy 
lunarcalendar
matplotlib
seaborn
plotly
tqdm
openpyxl
xlrd
xlwt
python-docx
PyPDF2
pillow
tabulate
flask
gunicorn
tzlocal
opencv-python==4.8.0.74
ipython
ipykernel
pydub
SpeechRecognition
ffprobe-python
faster-whisper
youtube_transcript_api
mammoth
markdownify
puremagic
pdfminer.six
python-pptx
puremagic
dotenv
pathvalidate

# may need conda install
ffmpeg

datasets
transformers